/** Polices supplémentaires **/

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Open sans';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}




body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a,a:hover,a:link,a:visited,a:active,a:focus{
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}
hr {
    margin: 0;
}


/*--------------- MENU --------------- */

.topNav {

    margin: 0;
    padding: 0;
    padding-left: 15%;
    padding-right: 15%;
    overflow: hidden;
    background-color: rgb(66,60,59);
    height: 100%;
}

/* Float the list items side by side */
.ongletPage {
    float: left;
}

/* Style the links inside the list items */
li.ongletPage{
    padding: 14px 0;
    transition: 0.3s;
    font-size: 17px;
    line-height:40px;
    font-weight: bold;
}

#prenomNom{
    font-size: 20px;
    vertical-align:middle;
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    line-height:68px;
    cursor: default;
}
span.maj {
    color: #FF8200;
}
ul.ulTopNav {
    list-style-type: none;
    float: right;
    display: block;
}



li.ongletPage:hover:not(.active) {
    background-color: rgb(50, 44, 43);
}
ul.ulTopNav li a {
    color: #FFFFFF;
}
ul.ulTopNav li.active a {
    color: #FF8200;
}

ul.ulTopNav li.active {
    background-color: #F8F8F8;
    height: 40px;
}

.ongletPage a {
    padding: 20px 16px;
}

.icon {
    display: none;
    font-size: 2em;
}


.dropBtn {
    text-decoration: none;
    color: #f2f2f2;
    line-height: 68px;
    float: right;
}
#menuSeparation {
    color: rgb(66,60,59);
    background-color: rgb(66,60,59);
    height: 1px;
}




@media screen and (max-width: 1080px) {
    ul.ulTopNav {
        display: none;
        float: none;
    }
    ul.ulTopNav {
        float: none;
    }
    .icon {
        display: inline-block;
    }
    .topNav {
        padding: 0 5%;
    }
    #menuSeparation {
        display: block;
    }
    .ongletPage {
        float: none;
    }
}
@media screen and (min-width: 1081px) {
    #menuSeparation {
        display: none;
    }
}

