/** Polices supplémentaires **/

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Open sans';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}




body {
    font-family: Roboto, Arial, sans-serif;
}

a,a:hover,a:link,a:visited,a:active,a:focus{
    text-decoration: none;
}


#divTitle {
    margin-top: 11px;
}
a.titleMathieu {
    color: #FFFFFF;
    font-size: 20px;
}

a span {
    color: #FF7800;
}

a.lienMenu {
    text-align: center;
    height: 100%;
}


nav#topMenu {
    font-weight: bold;
}

div.menu {
    display: table;
    float: right;
    color: #FF7800;
}

.active {
    color: #FF7800;
    background-color: #FFFFFF;
}

ul li {
    display: table-cell;
    position: relative;
    height: 50px;
    vertical-align: middle;
}

ul li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

ul {
    margin: 0;
}