@font-face {
    font-family: 'forgotten futurist rg';
    src: url('../fonts/forgotten%20futurist%20rg.ttf');
}

body {
    font-family: 'forgotten futurist rg',Roboto, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #2E2E2E;
}
a,a:hover,a:link,a:visited,a:active,a:focus{
    text-decoration: none;
}
ul {
    margin: 0;
    list-style-type: none;
}


h1 {
    margin: 0;
}

/*--------------- MENU --------------- */
nav#topNav {
    /*background-color: #45BF55;*/
    float: left;
    height: 100%;
}
#prenomNom {
    width: 100%;
    float: left;
    line-height: 80px;
    cursor: default;
}
li.ongletPage {
    padding: 0 0;
    background-image: url('../img/menuTestD.png');
    background-size: cover;
    height: 110px;
    width: 245px;
}
.ongletPage a {
    display: block;
    padding: 20px 20px;
    overflow: hidden;
    margin: 0;
}
.dropBtn {
    background-image: url('../img/menuTestR.png');
    background-size: cover;
    height: 100px;
    width: 100px;
    display: block;
    float: left;
}
.ulTopNav {
    transition: all 0.2s ease 0s;
    transform: translateX(80px);
    margin-top: 50px;
}


/*-------------- FIN MENU ------------ */
div.changeStyle {
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    height: 300px;
}
div.center {
    padding: auto;
    height: 80%;
}
div.btnStyle {
    width: 40%;
    height: 80%;
    float: left;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
div#btnStyle1 {
    background: url("../img/montagne2.jpg") no-repeat center;
    background-size: cover;
    margin-right: 20%;
}
div#btnStyle2 {
    background: url("../img/montagne2.jpg") no-repeat center;
    background-size: cover;
}

h1 {
    text-align: center;
}