@font-face {
    font-family: 'forgotten futurist rg';
    src: url('../fonts/forgotten%20futurist%20rg.ttf');
}

body {
    font-family: 'forgotten futurist rg',Roboto, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #3F729B;
    min-height: 100%;
}
a,a:hover,a:link,a:visited,a:active,a:focus{
    text-decoration: none;
}
ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
}


h1 {
    margin: 0;
}

/*--------------- MENU --------------- *//*
nav#topNav {
    float: left;
    height: 100%;
}
#prenomNom {
    width: 100%;
    float: left;
    line-height: 100px;
    cursor: default;
    background: url('../img/nomTest.png');
    background-size: cover;
    color: #9FF2F2;
    font-weight: bold;
    text-align: center;

    margin-bottom: 40px;
}
li.ongletPage {
    padding: 0 0;
    background-image: url('../img/menuTestD.png');
    background-size: cover;
    height: 110px;
    width: 245px;
    overflow: hidden;

    text-align: center;
    vertical-align: center;
}
.ongletPage a {
    display: block;
    padding: 45px 20px;
    overflow: hidden;
    margin: 0;
    color: #9FF2F2;
    text-align: center;
}
.ongletPage a:hover {
    color: #FFFFFF;
}
.dropBtn {
    background-image: url('../img/menuTestR2.png');
    background-size: cover;
    height: 100px;
    width: 100px;
    display: block;
    float: left;
    position: absolute;
    top: 140px;

    transition: all 0.6s ease 0s;
}
.dropBtn:hover {
    transform: rotate(360deg);
}
.ulTopNav {
    transition: all 0.6s ease 0s;
    transform: translateX(95px);
}
@media screen and (max-width: 1080px) {
    .ulTopNav {
        transform: translateX(60px);
    }
}

*/
/*-------------- FIN MENU ------------ *//*
div#containerHome {
    float: left;
    width: 60%;
}
div.changeStyle {
    margin-right: auto;
    margin-left: auto;
    height: 300px;
}
div.center {
    padding: auto;
    height: 80%;
}
div.btnStyle {
    width: 40%;
    height: 80%;
    float: left;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
div#btnStyle1 {
    background: url("../img/montagne2.jpg") no-repeat center;
    background-size: cover;
    margin-right: 20%;
}
div#btnStyle2 {
    background: url("../img/montagne2.jpg") no-repeat center;
    background-size: cover;
}

h1 {
    text-align: center;
}*/


/*--------------- MENU --------------*/
nav#topNav {
    float: left;
    height: 100%;
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, #030633 0px, #3F729B 100%) repeat scroll 0 0;
    display: block;
    position: fixed;
    color: #9FF2F2;
}

#prenomNom {
    line-height: 100px;
    cursor: default;
    color: #9FF2F2;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    padding: 0 12px 0 30px;
    overflow: hidden;
}
.dropBtn {
    color: #9FF2F2;
    margin: 5px;
    font-size: 20px;
    float: right;
}
.dropBtn:hover {
    background-color: #454878;
}
li.ongletPage {
    padding: 0 0;
    text-align: center;
    vertical-align: center;
    transition: background 0.1s;
}
.ongletPage a {
    display: block;
    padding: 20px 20px;
    overflow: hidden;
    margin: 0;
    color: #9FF2F2;
    text-align: center;
}
li.ongletPage:hover {
    background-color: #454878;
}
.active {
    background-color: #1C1D30;
}
/*------------- FIN MENU -------------*/
#containerHome {
    margin-left: 15%;
    margin-right: 15%;
}
h1 {
    text-align: center;
    padding-top: 20px;
}
.whiteShadow{
    text-align: center;
}

.container {
    margin-left: 224px;
    transition: all 0.6s ease 0s;
}
div.changeStyle {
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    height: 300px;
    margin-bottom: 200px;
}
div.center {
    height: 80%;
}
div.btnStyle {
    width: 40%;
    height: 80%;
    float: left;
    cursor: pointer;
    transition: all 0.2s ease 0s;
}
div#btnStyle1:hover {
    background: url("../img/montagne2little.jpg") no-repeat center; /*todo changer cette image*/
    background-size: cover;
}

div.btnStyle:hover {
    transform: scale(0.98);
}

div#btnStyle1 {
    background: url("../img/montagne2little.jpg") no-repeat center;
    background-size: cover;
    margin-right: 20%;
}



.footer {
    text-align: center;
}